@function vw($px){

	$vp: calc(1920 / 100);
    
    @return ($px / $vp) * 1vw;
}

@function em($ft, $ln){

	$ln_em: calc(1.0 * $ln);
    
    @return ($ln_em / $ft) * 1em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
	overflow-x: hidden;
	max-width: 100vw;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea{
	&::placeholder{
		opacity: 1;
	}
}

em{
	font-style: italic;
}

.calculadora{
    display: block;
    width: 100%;
    font-family: "Montserrat";
    .calculadora-container{
        display: block;
        width: 1185px;
        max-width: 100%;
        margin: vw(100) auto vw(100) auto;
        .form-erros{
            p{
                text-align: center;
                color: #FA4A38;
            }
        }
        .calcularora-passos{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: vw(20);
            span{
                font-family: "Montserrat";
                display: flex;
                align-items: center;
                justify-content: center;
                width: vw(30);
                height: vw(30);
                border: 2px solid #000;
                border-radius: 100%;
                color: #000;
                font-size: vw(16);
                font-weight: bold;
                margin: 0 vw(5);
                transition: all 0.5s ease;
                &.ativo{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        h1{
            font-size: vw(40);
            line-height: em(40, 48);
            text-align: center;
            color: #000;
            font-weight: bold;
            margin-bottom: vw(20);
        }
        h2{
            font-size: vw(20);
            line-height: em(20, 28);
            text-align: left;
            color: #000;
            font-weight: bold;
            margin-bottom: vw(20);
        }
        p, label, li{
            font-size: vw(16);
            line-height: em(16, 24);
            text-align: left;
            color: #4F4F4F;
            font-weight: 500;
            margin-bottom: vw(20);
        }

        label{
            color: #000;
        }

        b, strong{
            font-weight: bold;
            color: #000;
        }

        ul{
            display: block;
            padding-left: vw(30);
            li{
                margin-bottom: vw(10);
                position: relative;
                padding-left: vw(10);
                &::before{
                    content: url(../imagens/balde.svg);
                    position: absolute;
                    top: 0;
                    left: vw(-20);
                    display: block;
                    width: vw(20);
                    height: vw(20);
                    object-fit: scale-down;
                    object-position: center;
                }
            }
        }
        input, select{
            display: block;
            border: 2px solid #000;
            border-radius: 50px;
            color: #000;
            padding: vw(13) vw(18);
            background-color: #fff;
            font-size: vw(16);
            line-height: em(16, 16);
            font-weight: bold;
            margin-top: vw(10);
            font-family: "Montserrat";
            outline: none;
            transition: all 0.5s ease;
            &.errado{
                color: #FA4A38;
                border-color: #FA4A38;
            }
            &.certo{
               color: #2ECC71;
               border-color: #2ECC71; 
            }
        }
        input{
            width: calc(100% - vw(20));
            appearance: textfield;
            margin-right: auto;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: vw(10);
            background-size: vw(30);
            padding-left: vw(48);
            &:not(.qtd-portas), &:not(.qtd-janelas){
                background-image: url(../imagens/regua.svg);
            }
            &.qtd-portas{
                background-image: url(../imagens/porta.svg);
            }
            &.qtd-janelas{
                background-image: url(../imagens/janela.svg);
            }
        }
        select{
            width: vw(400);
            max-width: 100%;
            appearance: none;
            background-image: url(../imagens/seta_baixo.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 98%;
        }
        button, a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: auto;
            padding: vw(13) vw(28);
            margin: 0 auto vw(20) auto;
            background-color: #000;
            color: #fff;
            border: 2px solid #000;
            border-radius: 50px;
            font-size: vw(16);
            line-height: em(16, 16);
            transition: all 0.5s ease;
            font-weight: 500;
            cursor: pointer;
            font-family: "Montserrat";
            box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.14);
            text-decoration: unset;
            &::after{
                content: url(../imagens/seta.svg);
                display: block;
                width: vw(20);
                height: vw(20);
                filter: brightness(0) invert(1);
                margin-left: vw(5);
                transition: all 0.5s ease;
                object-fit: cover;
                object-position: center;
            }
            &:hover{
                background-color: #fff;
                color: #000;
                &::after{
                    filter: brightness(0) invert(0);
                }
            }
        }
        .calculadora-form{
            transition: all 0.5s ease;
            opacity: 0;
            visibility: hidden;
            height: 0;
            h2, button, p{
                display: none;
            }
            .calculadora-campos{
                display: none;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    label{
                        display: block;
                        width: 100%;
                    }
                }
                .possui-paredes-sim, .possui-janelas-sim{
                    transition: all 0.5s ease;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    p{
                        label{
                            width: 50%;
                        }
                    }
                }
            }
            &.ativo{
                opacity: 1;
                visibility: visible;
                height: auto;
                h2, p{
                    display: block;
                }
                button{
                    display: flex;
                }
                .calculadora-campos{
                    display: block;
                }
            }
            &.portas-ativo{
                .calculadora-campos{
                    .possui-paredes-sim{
                        visibility: visible;
                        opacity: 1;
                        height: auto;
                    }
                }
            }
            &.janelas-ativo{
                .calculadora-campos{
                    .possui-janelas-sim{
                        visibility: visible;
                        opacity: 1;
                        height: auto;
                    }
                }
            }
        }
        &.resultado{
            p{
                text-align: center;
            }
            ul{
                li{
                    width: max-content;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 1025px) {

    .calculadora{
        .calculadora-container{
            width: 100%;
            margin: 50px auto;
            padding: 0 20px;
            box-sizing: border-box;
            .calcularora-passos{
                margin-bottom: 20px;
                span{
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    margin: 0 5px;
                }
            }
            h1{
                font-size: 20px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 16px;
                margin-bottom: 20px;
            }
            p, label, li{
                font-size: 14px;
                margin-bottom: 20px;
            }
    
            ul{
                display: block;
                padding-left: 30px;
                li{
                    margin-bottom: 10px;
                    padding-left: 10px;
                    &::before{
                        left: -20px;
                        display: block;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            input, select{
                padding: 10px 18px;
                font-size: 14px;
                margin-top: 10px;
            }
            input{
                width: 100%;
                background-position-x: 10px;
                background-size: 30px;
                padding-left: 48px;
            }
            select{
                width: 100%;
            }
            button, a{
                padding: 13px 28px;
                margin: 0 auto 20px auto;
                font-size: 16px;
                &::after{
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                }
            }
            .calculadora-form{
                .calculadora-campos{
                    .possui-paredes-sim, .possui-janelas-sim{
                        p{
                            label{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            
        }
    }


}

@media only screen and (max-width: 768px) {

}