html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  max-width: 100vw;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
}

em {
  font-style: italic;
}

.calculadora {
  display: block;
  width: 100%;
  font-family: "Montserrat";
}
.calculadora .calculadora-container {
  display: block;
  width: 1185px;
  max-width: 100%;
  margin: 5.2083333333vw auto 5.2083333333vw auto;
}
.calculadora .calculadora-container .form-erros p {
  text-align: center;
  color: #FA4A38;
}
.calculadora .calculadora-container .calcularora-passos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.0416666667vw;
}
.calculadora .calculadora-container .calcularora-passos span {
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5625vw;
  height: 1.5625vw;
  border: 2px solid #000;
  border-radius: 100%;
  color: #000;
  font-size: 0.8333333333vw;
  font-weight: bold;
  margin: 0 0.2604166667vw;
  transition: all 0.5s ease;
}
.calculadora .calculadora-container .calcularora-passos span.ativo {
  background-color: #000;
  color: #fff;
}
.calculadora .calculadora-container h1 {
  font-size: 2.0833333333vw;
  line-height: 1.2em;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.0416666667vw;
}
.calculadora .calculadora-container h2 {
  font-size: 1.0416666667vw;
  line-height: 1.4em;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.0416666667vw;
}
.calculadora .calculadora-container p, .calculadora .calculadora-container label, .calculadora .calculadora-container li {
  font-size: 0.8333333333vw;
  line-height: 1.5em;
  text-align: left;
  color: #4F4F4F;
  font-weight: 500;
  margin-bottom: 1.0416666667vw;
}
.calculadora .calculadora-container label {
  color: #000;
}
.calculadora .calculadora-container b, .calculadora .calculadora-container strong {
  font-weight: bold;
  color: #000;
}
.calculadora .calculadora-container ul {
  display: block;
  padding-left: 1.5625vw;
}
.calculadora .calculadora-container ul li {
  margin-bottom: 0.5208333333vw;
  position: relative;
  padding-left: 0.5208333333vw;
}
.calculadora .calculadora-container ul li::before {
  content: url(../imagens/balde.svg);
  position: absolute;
  top: 0;
  left: -1.0416666667vw;
  display: block;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}
.calculadora .calculadora-container input, .calculadora .calculadora-container select {
  display: block;
  border: 2px solid #000;
  border-radius: 50px;
  color: #000;
  padding: 0.6770833333vw 0.9375vw;
  background-color: #fff;
  font-size: 0.8333333333vw;
  line-height: 1em;
  font-weight: bold;
  margin-top: 0.5208333333vw;
  font-family: "Montserrat";
  outline: none;
  transition: all 0.5s ease;
}
.calculadora .calculadora-container input.errado, .calculadora .calculadora-container select.errado {
  color: #FA4A38;
  border-color: #FA4A38;
}
.calculadora .calculadora-container input.certo, .calculadora .calculadora-container select.certo {
  color: #2ECC71;
  border-color: #2ECC71;
}
.calculadora .calculadora-container input {
  width: calc(100% - 1.0416666667vw);
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  margin-right: auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5208333333vw;
  background-size: 1.5625vw;
  padding-left: 2.5vw;
}
.calculadora .calculadora-container input:not(.qtd-portas), .calculadora .calculadora-container input:not(.qtd-janelas) {
  background-image: url(../imagens/regua.svg);
}
.calculadora .calculadora-container input.qtd-portas {
  background-image: url(../imagens/porta.svg);
}
.calculadora .calculadora-container input.qtd-janelas {
  background-image: url(../imagens/janela.svg);
}
.calculadora .calculadora-container select {
  width: 20.8333333333vw;
  max-width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../imagens/seta_baixo.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 98%;
}
.calculadora .calculadora-container button, .calculadora .calculadora-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 0.6770833333vw 1.4583333333vw;
  margin: 0 auto 1.0416666667vw auto;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 0.8333333333vw;
  line-height: 1em;
  transition: all 0.5s ease;
  font-weight: 500;
  cursor: pointer;
  font-family: "Montserrat";
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.14);
  text-decoration: unset;
}
.calculadora .calculadora-container button::after, .calculadora .calculadora-container a::after {
  content: url(../imagens/seta.svg);
  display: block;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  filter: brightness(0) invert(1);
  margin-left: 0.2604166667vw;
  transition: all 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.calculadora .calculadora-container button:hover, .calculadora .calculadora-container a:hover {
  background-color: #fff;
  color: #000;
}
.calculadora .calculadora-container button:hover::after, .calculadora .calculadora-container a:hover::after {
  filter: brightness(0) invert(0);
}
.calculadora .calculadora-container .calculadora-form {
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.calculadora .calculadora-container .calculadora-form h2, .calculadora .calculadora-container .calculadora-form button, .calculadora .calculadora-container .calculadora-form p {
  display: none;
}
.calculadora .calculadora-container .calculadora-form .calculadora-campos {
  display: none;
}
.calculadora .calculadora-container .calculadora-form .calculadora-campos p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calculadora .calculadora-container .calculadora-form .calculadora-campos p label {
  display: block;
  width: 100%;
}
.calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-paredes-sim, .calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-janelas-sim {
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-paredes-sim p label, .calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-janelas-sim p label {
  width: 50%;
}
.calculadora .calculadora-container .calculadora-form.ativo {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.calculadora .calculadora-container .calculadora-form.ativo h2, .calculadora .calculadora-container .calculadora-form.ativo p {
  display: block;
}
.calculadora .calculadora-container .calculadora-form.ativo button {
  display: flex;
}
.calculadora .calculadora-container .calculadora-form.ativo .calculadora-campos {
  display: block;
}
.calculadora .calculadora-container .calculadora-form.portas-ativo .calculadora-campos .possui-paredes-sim {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.calculadora .calculadora-container .calculadora-form.janelas-ativo .calculadora-campos .possui-janelas-sim {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.calculadora .calculadora-container.resultado p {
  text-align: center;
}
.calculadora .calculadora-container.resultado ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media only screen and (max-width: 1025px) {
  .calculadora .calculadora-container {
    width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .calculadora .calculadora-container .calcularora-passos {
    margin-bottom: 20px;
  }
  .calculadora .calculadora-container .calcularora-passos span {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 0 5px;
  }
  .calculadora .calculadora-container h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .calculadora .calculadora-container h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .calculadora .calculadora-container p, .calculadora .calculadora-container label, .calculadora .calculadora-container li {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .calculadora .calculadora-container ul {
    display: block;
    padding-left: 30px;
  }
  .calculadora .calculadora-container ul li {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .calculadora .calculadora-container ul li::before {
    left: -20px;
    display: block;
    width: 20px;
    height: 20px;
  }
  .calculadora .calculadora-container input, .calculadora .calculadora-container select {
    padding: 10px 18px;
    font-size: 14px;
    margin-top: 10px;
  }
  .calculadora .calculadora-container input {
    width: 100%;
    background-position-x: 10px;
    background-size: 30px;
    padding-left: 48px;
  }
  .calculadora .calculadora-container select {
    width: 100%;
  }
  .calculadora .calculadora-container button, .calculadora .calculadora-container a {
    padding: 13px 28px;
    margin: 0 auto 20px auto;
    font-size: 16px;
  }
  .calculadora .calculadora-container button::after, .calculadora .calculadora-container a::after {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-paredes-sim p label, .calculadora .calculadora-container .calculadora-form .calculadora-campos .possui-janelas-sim p label {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */